.App {
  text-align: center;
  width: 100vw;
  /* height: 900px; */
  /* background-color: #0a2b59; */
  background-image: url('./images/bg.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  min-height: 100%;
  overflow: auto;
  /* border-radius: 25px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #fff;
  padding: 40px;
}

h2 {
  color: #1375ba;
}

h3 {
  color: goldenrod;
}

h4 {
  color: white;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #000;
}

.row {
  background-color:#0a264b;

  width: 95%;
  font-size: medium;
  /* padding-left: 30px; */
  padding-bottom: 50px;
  /* border-radius: 25px; */
  
}

.column li {
  text-align: left;
  list-style-type: none;
  padding-top: 60px;
  color: goldenrod;
  font-size: 20px;
  text-decoration: none;
}

.column p {
  text-align: left;
  padding-bottom: 40px;
}

.book-card-space {
  margin: 20px;
}

.nav-bar-welcome {
  margin-top: 60px;
  
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

.column img {
  padding-top: 60px; 
  width: 200px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.space {
  min-height: 40px;
}

.genre-read {
  text-shadow: 1px 1px black;
}

.button {
  width: 130px;
  height: 45px;
  border-radius: 5px;
  background-color: goldenrod;
  font-size: 20px;
  color: #0a264b;
}

.sign-out{
  float: right;
 
}

.nav-bar-welcome, .nav-bar-signin {
  background-color: whitesmoke;
}