.App {
  text-align: center;
  width: 100vw;
  /* height: 900px; */
  /* background-color: #0a2b59; */
  background-image: url('./images/bg.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  min-height: 100%;
  overflow: auto;
  /* border-radius: 25px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #fff;
  padding: 40px;
}

h2 {
  color: #1375ba;
}

h3 {
  color: goldenrod;
}

h4 {
  color: white;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #000;
}

.row {
  background-image: url('./images/book-card-bg.png');
  background-size: repeat;
  width: 95%;
  font-size: medium;
  /* padding-left: 30px; */
  padding-bottom: 50px;
  /* border-radius: 25px; */
  
}

.book-container {
  padding: 70px;
  color: #fff;
  font-weight: bolder;
  filter: drop-shadow(0 0 0.2rem black);
  background-image: url('./images/book-card-bg.png');
  background-size: repeat;
  width: 95%;
  
}

.column li {
  text-align: left;
  list-style-type: none;
  padding-top: 60px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.column p {
  text-align: left;
  padding-bottom: 40px;
}

.book-card-space {
  margin: 20px;
}

.nav-bar-welcome {
  margin-top: 60px;
  
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-nav {
  float: right;
  width: 50%;
  padding: 10px;

}

.column-nav h2 {
  color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;

}

.column img {
  padding-top: 60px; 
  width: 200px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.space {
  min-height: 40px;
}

.genre-read {
  text-shadow: 1px 1px black;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 1px;
  background-color: #2f374e;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.form-container {
  padding: 50px;
  color: #fff;
  font-weight: bolder;
  filter: drop-shadow(0 0 0.2rem black);
  background-image: url('./images/book-card-bg.png');
  background-size: repeat;
  width: 95%;

}

.sign-out{
  float: right;
 
}

.row-nav {
  background-color:#b76a51;
  min-height: 220px;
  min-width: 100%;
}

.new-logo {
  max-width: 380px;
} 

.signup-instructions h2{
  color: white;
}

.signup-instructions h4{
  color: white;
  
}
.fade {
  min-height: 50px;
}

.feature-one {
  min-height: 230px;
  background-image: url('./images/fade.png');
  background-size: cover;
  margin-top: 130px;
}

.feature-one h1 {
  margin-left: 20px;
  text-align: left;
  color: #b76a51;
  padding: 9px;
}

.feature-one p {
  padding-left: 50px;
  text-align: justify;
  max-width: 800px;
  color: #2f374e;
}

.feature-two {
  min-height: 230px;
  background-image: url('./images/fade.png');
  background-size: cover;
  margin-top: 160px;

}
.feature-two h1 {
  margin-right: 120px;
  text-align: right;
  color: #fff;
  padding: 9px;
}

.feature-two p {
  padding-left: 50px;
  text-align: justify;
  max-width: 800px;
  color: #2f374e;
}

.footer {
  background-color: #b76a51;
  min-height: 80px;
  opacity: 0.5;
}

.footer,
.push {
  height: 100px;
}

.footer h5 {
  padding-top: 25px;
}

.login-container {
  filter: drop-shadow(0 0 0.75rem black);
}

.login-container form label {
  color: #fff;
  font-weight: bolder;
}

.column-nav signout {
  margin-left: 1400px;
}

.container-books h1, h3, h4{
  filter: drop-shadow(0 0 0.1rem black);
}

.spacer {
  padding-top: 55px;
}